<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oik.api.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.oik.api.entity.Role">
        <id column="ID" property="id" />
        <result column="ROLE_CODE" property="roleCode" />
        <result column="ROLE_NAME" property="roleName" />
        <result column="REMARK" property="remark" />
        <result column="CREATED_BY" property="createdBy" />
        <result column="CREATED_TIME" property="createdTime" />
        <result column="UPDATED_BY" property="updatedBy" />
        <result column="UPDATED_TIME" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, ROLE_CODE, ROLE_NAME, REMARK, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME
    </sql>

</mapper>
